p{
    color: whitesmoke;
    background-color: black;
}
body{color: white;
    background-color: black;
    text-align: center;
    margin-top: 40px;
}
div{text-align: center;
border: 1pt;
margin: 50pt;
}
