body {
    color: #333;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    margin: 40px;
}

h1 {
     font-size: 30px;
     margin-bottom: 40px;
}

.button_container {
    border: 1px solid #ddd;
    margin: 0 10px 10px 0;
    padding: 20px;
    width: 300px;
    height: 300px;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
}



a#btn_spotify {
    display: inline-block;
    height: 50px;
    box-sizing: border-box;
    border-radius: 25px;
    margin: auto;
    margin-top: 100px;
    padding: 10px 40px 0 40px;
    background-color: #2ebd59;
    border: 2px solid #2ebd59;
    color: #fff;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-decoration: none;
    transition: all .5s;
}

a#btn_spotify:hover {
    background-color: #fff;
    border: 2px solid #000;
    color: #000;
}

a#btn_amazon {
    display: block;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border-radius: 50px;
    margin: auto;
    margin-top: 75px;
    padding-top: 8px;
    background-color: #232f3e;
    color: #fff;
    text-align: center;
    font-size: 60px;
    transition: all .2s;
}

a#btn_amazon:hover {
    background-color: #fc9a18;
}

a#btn_twitter {
    display: inline-block;
    height: 40px;
    box-sizing: border-box;
    border-radius: 4px;
    margin: auto;
    margin-top: 105px;
    padding: 10px 30px 0 30px;
    background-color: #56cdf1;
    color: #fff;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-decoration: none;
}

a#btn_twitter:hover {

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2ebfec+0,28a5cb+100 */
    background: rgb(46,191,236); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(46,191,236,1) 0%, rgba(40,165,203,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(46,191,236,1) 0%,rgba(40,165,203,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(46,191,236,1) 0%,rgba(40,165,203,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ebfec', endColorstr='#28a5cb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

a#btn_indiegogo {
    display: inline-block;
    position: relative;
    margin:auto;
    margin-top: 100px;
    padding: 8px 16px;
    background-color: #fff;
    color: #eb1478;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: -2px;
    transition: all .2s;
}

a#btn_indiegogo:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #eb1478;
    transition: all .5s;
}

a#btn_indiegogo:hover {
    color: #fff;
}

a#btn_indiegogo:hover:before {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

a#btn_indiegogo span {
    position: relative;
    z-index: 10;
}
a#btn_cocacola {
    font-style:italic;
    display: block;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border-radius: 50px;
    margin: auto;
    margin-top: 75px;
    padding-top: 17px;
    padding-left:0;
    padding-right:2px;
    border-style:solid;
    border-color: red;
    color: red;
    text-align: center;
    border-width: 0.2rem;
    font-size: 28px;
    text-decoration: none;
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: bolder;
    transition: all .4s;
    line-height: 1em;

    
}

a#btn_cocacola:hover{
    color: red;
    background-color: black;
    border-color:black;
}

a#btn_samsung{
    font-size:25px;
    transition: all 1.3s;
    display:block;
    margin-top:35%;
    margin-left:40px;
    margin-right:40px;
    padding:4%;
    padding-left:5px;
    padding-right:5px;
    color:white;
    text-decoration:none;
    border-radius: 40px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#8588e1+0,424bea+50,1a28c4+51,8588e1+100 */
background: rgb(133,136,225); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(133,136,225,1) 0%, rgba(66,75,234,1) 50%, rgba(26,40,196,1) 51%, rgba(133,136,225,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(133,136,225,1) 0%,rgba(66,75,234,1) 50%,rgba(26,40,196,1) 51%,rgba(133,136,225,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(133,136,225,1) 0%,rgba(66,75,234,1) 50%,rgba(26,40,196,1) 51%,rgba(133,136,225,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8588e1', endColorstr='#8588e1',GradientType=0 ); /* IE6-9 */


}
a#btn_samsung:hover {
    background:none;
    background-color: white;
    
    color: rgba(66,75,234,1);
}

a#btn_lyft{
    color:#eb1478;
    text-decoration:none;
    text-align:center;
    display:inline-block;
    margin-top:40%;
    font-family: 'Black Ops One', cursive;
    font-size:50px;
    transition: all .4s;

}
a#btn_lyft:hover {
    background-color:#ca58c8;
    color:white;
    padding:8px;
}

a#btn_missouribotanicalgarden{
font-family: 'Fasthand', cursive;
color:#684918;
    text-decoration:none;
    text-align:center;
    display:inline-block;
    margin-top:40%;
    font-size:23px;
    transition: all .4s;
    
    
    font-weight: bolder;
    transition: all .4s;

}

a#btn_missouribotanicalgarden:hover {
    border-style: dotted;
    padding:4%;
    border-color:#abe08a;
    color:#2ebd59;
    border-radius: 8px;
}
a#btn_tesla{
   
    color:rgba(0, 0, 0, 0.853);
        text-decoration:none;
        text-align:center;
        display:inline-block;
        margin-top:40%;
        font-size:35px;
        transition: all .4s;
        
        
        background:none;
        transition: all .4s;
        font-family: 'Orbitron', sans-serif;
     
    }
    a#btn_tesla:hover {
        
        color:rgb(202, 18, 61);
        font-size:40px;
        
    }
    
    a#btn_npr{
   
            color:white;
            text-decoration:double;
            text-align:center;
            display:inline-block;
            margin-top:40%;
            font-size:35px;
            transition: all .4s;
           
    
            font-family: 'Ubuntu', sans-serif;
            font-size: 30px;
            font-weight: bold;
           background-color: rgba(31, 167, 124, 0.9);
           padding:5%;
           padding-top:2%;
           padding-bottom:3%;
            border-radius: 10px;
            
            
         
        }
        a#btn_npr:hover {
            background:white;
            color:darkblue;
            border:darkblue;
            border-width:2px;
            
        }

        a#btn_instagram{
            color:white;
            border-radius: 30px;
            font-size:25px;
            font-weight:bold;
            text-decoration:none;
            text-align:center;
            display:inline-block;
            margin-top:40%;
            padding:7%;
            transition: all .6s;

            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ad1283+0,b229f2+0,de47ac+31,de47ac+31,ef4083+31,f7b354+74,f5fc79+100&1+0,0.73+55,1+100 */
background: -moz-linear-gradient(-45deg,  rgba(178,41,242,1) 0%, rgba(239,64,131,0.85) 31%, rgba(243,128,105,0.73) 55%, rgba(247,179,84,0.84) 74%, rgba(245,252,121,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(178,41,242,1) 0%,rgba(239,64,131,0.85) 31%,rgba(243,128,105,0.73) 55%,rgba(247,179,84,0.84) 74%,rgba(245,252,121,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(178,41,242,1) 0%,rgba(239,64,131,0.85) 31%,rgba(243,128,105,0.73) 55%,rgba(247,179,84,0.84) 74%,rgba(245,252,121,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b229f2', endColorstr='#f5fc79',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

        }

        a#btn_instagram:hover{
            background-color: white;
            border: rgba(178,41,242,1);
            color:rgb(69, 4, 99);

        }

        a#btn_facebook{
            font-size:25px;
            transition: all 0.5s;
            display:block;
            margin-top:40%;
            margin-left:40px;
            margin-right:40px;
            
            padding:3%;
            color:white;
            text-decoration:none;
            border-radius: 10px;
            background-color:rgba(36, 36, 208, 0.804);
        }

        a#btn_facebook:hover{
            background-color:rgba(0, 0, 139, 0.979);
            font-size:29px;
            

        }

        a#btn_explodingkittens{
   
            color:black;
                text-decoration:none;
                text-align:center;
                display:inline-block;
                margin-top:40%;
                font-size:25px;
                transition: all 0.9s;
                
                font-family: 'Shadows Into Light', cursive;
                background:none;
               font-weight:bolder;
            }
            a#btn_explodingkittens:hover {
                
                color:rgb(251, 47, 1);
                font-size:30px;
                text-decoration: underline;
            }

            a#btn_nike{
   
                color:rgb(246, 104, 2);
                    text-decoration:none;
                    text-align:center;
                    display:inline-block;
                    margin-top:40%;
                    font-size:45px;
                    transition: all 0.6s;
                    font-family: 'Monoton', cursive;
                    background:none;
                   font-style: italic;
                   font-weight:bolder;
                }
           
                a#btn_nike:hover{
                    color:indigo;
                }

                
            a#btn_apple{
   
                color:black;
                    text-decoration:none;
                    text-align:center;
                    display:inline-block;
                    margin-top:40%;
                    font-size:30px;
                    transition: all 0.6s;
                 
                   
            
                   
                   font-weight:bolder;
                   
                }
                a#btn_apple:hover{
                    text-shadow: 7px 2px 6px rgba(150, 150, 150, 1);
                }

               

                a#btn_moo{
   
                    color:rgb(20, 130, 170);
                        text-decoration:none;
                        text-align:center;
                        display:inline-block;
                        margin-top:35%;
                        font-size:40px;
                        transition: all 0.6s;
                     
                        font-family: 'Nunito Sans', sans-serif;
                
                       font-weight:bolder;
                       padding:10%;
                       
                       border-radius: 50%;
                       background-color: rgba(44, 233, 230, 0.151);;
                    }
                    a#btn_moo:hover{
                        background-color:white;
                        border-style:double;
                        color:rgb(172, 155, 122);
                   
                    }

                    
                a#btn_usarmy{
   
                    color:white;
                        text-decoration:none;
                        text-align:center;
                        display:inline-block;
                        margin-top:35%;
                        font-size:30px;
                        transition: all 0.6s;
                     
                
                       font-weight:bolder;
                      
                       padding:3%;
                       border-radius: 10%;
                       background-color: black;
                       border-color:rgb(243, 223, 9);
                       border-width:7px;
                       border-style:inherit;
                    }

                    a#btn_usarmy:hover{
                        background-color:rgb(243, 223, 9);
                        color:black;
                        border-color:#000;
                    }

                    a#btn_michaelkors{
   
                        color:black;
                            text-decoration:none;
                            text-align:center;
                            display:inline-block;
                            margin-top:40%;
                            font-size:27px;
                            transition: all 0.6s;
                            font-family: 'Lora', serif;
                            padding:7%;
                            border-radius: 3%;
                           
                           background-color: rgb(225, 232, 232);
                        }
                        a#btn_michaelkors:hover{
                            text-shadow: 7px 2px 6px rgba(150, 150, 150, 1);
                        }
        
                        a#btn_foreflight{
   
                            color:darkblue;
                                text-decoration:none;
                                text-align:center;
                                display:inline-block;
                                margin-top:40%;
                                font-size:30px;
                                transition: all 0.6s;
                                
                                padding:5%;
                                border-radius: 10%;
                                border-style:dashed;
                               font-style:italic;
                               font-weight:bold;
                               border-width:3px;
    
                            }
                            a#btn_foreflight:hover{
                                color:black;
                                border:none;
                                font-size:35px;
                                font-weight:bolder;
                            }
                            a#btn_hsn{
                                display: block;
                                width: 100px;
                                height: 100px;
                                box-sizing: border-box;
                                border-radius: 50px;
                                margin:auto;
                                margin-top:35%;
                                
                                
                                padding-right:20%;
                                padding-left:7%;
                                padding-top:10%;
                                
                                background-color: rgb(51, 167, 240);
                                color: #fff;
                                text-align:inherit;
                                position: relative;
                                font-size: 30px;
                                text-decoration: none;
                                transition: all .5s;
                                font-weight:bolder;
                            }
                            
                            a#btn_hsn:hover {
                                background-color: rgb(255, 208, 121);
                            }
                            a#btn_ibm{
   
                                color:blue;
                                    text-decoration:none;
                                    text-align:center;
                                    display:inline-block;
                                    margin-top:40%;
                                    font-size:50px;
                                    transition: all 0.6s;
                                    font-family: 'Monoton', cursive;
                                    background-color:white;
                                   font-weight:bolder;
                                   padding:7%;
                                }
                           
                                a#btn_ibm:hover{
                                    color:white;
                                    background-color: blue;
                                    border-radius: 40%;
                                }
                                a#btn_craigslist{
   
                                    color:darkviolet;
                                    font-family: 'Hind Madurai', sans-serif;
                                        text-decoration:none;
                                        text-align:center;
                                        display:inline-block;
                                        margin-top:40%;
                                        font-size:35px;
                                        transition: all 0.6s;
                                        
                                        padding:5%;
                                        
                                       font-weight:bold;
                                       border-width:3px;
            
                                    }
                                    a#btn_craigslist:hover{
                                        color:rgb(248, 69, 4);
                                        border:none;
                                        font-size:40px;
                                        font-weight:bolder;}

                                        a#btn_cartoonnetwork{
   
                                            background-color:rgba(144, 238, 144, 0.858);
                                            color:rgb(60, 49, 38);
                                                text-decoration:none;
                                                text-align:center;
                                                display:inline-block;
                                                margin-top:40%;
                                                font-size:30px;
                                                transition: all 0.6s;
                                                font-family: 'Acme', sans-serif;
                                        
                                               font-weight:bolder;
                                              
                                               padding:7%;
                                               
                                               border-radius: 50%;
                                               
                                               
                                               
                                              
                                            }
                        
                                            a#btn_cartoonnetwork:hover{
                                                
                                                color:lightgreen;
                                                background-color:white;
                                                
                                                
                                            }

                                            a#btn_bissingers{
   
                                                color:goldenrod;
                                                
                                                    text-decoration:none;
                                                    text-align:center;
                                                    display:inline-block;
                                                    margin-top:45%;
                                                    font-size:40px;
                                                    transition: all 0.6s;
                                                    font-family: 'Quintessential', cursive;
                                                    
                                                    
                                                    
                                                   font-weight:bold;
                                                   
                                                }
                                                a#btn_bissingers:hover{
                                                    color:rgb(107, 86, 59);
                                                    border:none;
                                                    
                                                    font-weight:bolder;
                                                border-style:inherit;
                                                padding:5%;
                                            }